$color-primary: #060A24;
$color-secundary: blue;
$color-terciario:#00F3BB;

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    max-width: 1440px;
    min-width: 320;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
}

header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        margin-left: 4vw;

        img {
            width: 36px;
        }
    }

    #btn-menu {
        display: none;
    }

    .image_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        cursor: pointer;
        margin-right: 4vh;
    }

    .image_cruz {
        display: none;
    }

    .menu {
        background: #0000EC;
        position: absolute;
        /*margin top para que desaparezca*/
        margin-top: -100vh;
        width: 100%;
        height: 224px;
        transition: all ease 1s;

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

            li {
                list-style: none;
                text-align: left;
                margin-left: 4vh;

                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'IBM Plex Mono', monospace;
                    font-weight: 300;
                }

                a:hover {
                    color: $color-terciario;
                }
            }
        }
    }

    #btn-menu:checked~.menu {
        margin-top: 258px;
    }

    #btn-menu:checked~.image_menu {
        display: none;
    }

    #btn-menu:checked~.image_cruz {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        margin-right: 4vh;

    }
}

main {
    width: 100%;
}

.encabezado {
    display: flex;
    flex-flow: column wrap;
    margin: 3vh 5% 0 5%;

    h1 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color: $color-primary;

    }

    h1::after {
        content: ".";
    }

    p {
        height: 66px;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        font-weight: 300;
        text-align: justify;
        color: $color-primary;
        margin-top: 4vh;

        &::before {
            content: "Un podcast que explora el mundo de la programación";
        }
    }

    .boton {
        border: none;
        background-color: $color-terciario;
        width: 290px;
        height: 48px;
        margin-top: 4vh;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
        font-family: 'IBM Plex Mono', monospace;

    }

    .boton:hover {
        background-image: linear-gradient(to left, $color-terciario, #0000A3);
        color: white;
    }
}

.contenido {
    width: 100%;
    margin-top: 3vh;
    background-image: linear-gradient(#0000FF, #0000A3);
    display: flex;
    flex-flow: column wrap;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);

    h2 {
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        margin: 64px 0 2vh 5%;
        color: white;
    }

    .episodios {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        height: 1100px;

        iframe {
            width: 298px;
            height: 235px;
            border-radius: 8px;
            margin: 1vh 0 1vh 0;
            border: none;
        }
    }
}

.articulos {
    width: 100%;
    display: flex;
    flex-flow: column wrap;

    .phone {
        width: 100%;
        position: relative;
        margin-top: -100px;
        max-width: 400px;
    }

    h2 {
        width: 90%;
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        margin-left: 5%;
        margin-bottom: 2vh;
    }

    .parrafo {
        height: 254px;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 300;
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    .imagenes {
        width: 100%;
        list-style: none;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.tercer_articulo {
    width: 100%;
    h2 {
        margin-top: 6vh;
        margin-bottom: 5vh;
        text-align: left;
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    //imagenes con temas, son 4/

    .contenedor-temas {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;

        .temas {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            margin-top: 5vh;

        }

        h3 {
            width: 90%;
            font-family: 'IBM Plex Sans-SemiBold', sans-serif;
            font-size: 24px;
            text-align: center;
            margin-bottom: 5vh;
            margin-top: 2vh;
        }
    }

}

.cuarto_articulo {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#0000FF, #0000A3);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

    h2 {
        margin-top: 32px;
        margin-bottom: 32px;
        color: white;
        text-align: center;
        font-family: 'IBM Plex Sans';
        font-weight: 400;
        line-height: 42px;
        font-size: 36px;
    }

    .boton2 {
        background: #00F3BB;
        border: none;
        width: 288px;
        height: 48px;
        font-family: 'IBM Plex Mono', monospace;
        line-height: 22px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 62px;
    }

    .boton2:hover {
        background-image: linear-gradient(to left, $color-terciario, #0000A3);
        color: white;
    }
}

footer {
    width: 100%;
    display: flex;
    align-content: center;
    flex-flow: column wrap;

    h5 {
        margin-top: 4vh;
        margin-bottom: 4vh;
        font-family: 'IBM Plex Mono';
        font-weight: 400;
        text-align: center;
        font-size: 14px;
    }

    .contactos {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin-bottom: 5vh;

        img {
            cursor: pointer;
            width: 16px;
            transition: all ease 0.5s;
        }

        img:hover {
            transform: scale(1.5);
        }
    }
}

@media screen and (min-width:680px) {
    header {
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            margin-left: 5%;

            img {
                width: 36px;
            }
        }

        .image_menu {
            display: none;
        }

        .image_cruz {
            display: none;
        }

        .menu {
            background: white;
            margin-top: 0;
            margin-right: 5%;
            width: 70%;
            height: 40px;
            position: relative;

            .container {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                li {
                    text-align: left;
                    padding-left: 30px;

                    a {
                        color: $color-primary;
                    }
                }
            }
        }

    }
    .contenido {
        display: flex;
        flex-flow: row wrap;
      
        h2 {
            font-size: 42px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 300;
            margin: 64px 0 2vh 5%;
            color: white;
        }
    
        .episodios {
            display: flex;
            justify-content: space-around;
            margin: auto;
            align-items: flex-start;
            flex-flow: row wrap;
            height: 900px;
            iframe {
                width: 40%;
                max-width: 500px;
            }
        }
    }
    .primer_articulo{
        display: flex;
        width: 80%;
        margin: auto;
        .phone{
            margin-left: 20px;
        }
        .parrafo {
            text-align: justify;
            margin-left: 5%;
            margin-right: 10%;
        }
    }
    .galeria {
        width: 100%;
        .imagenes {
            width: 50%;
        }
    }
    .tercer_articulo {
        //imagenes con temas, son 4//
        .contenedor-temas {
            display: flex;
            flex-flow: row wrap;
            .temas {
                width: 50%;
                justify-content: space-around;
            }
        }
    }
    .cuarto_articulo {
        h2 {
            margin: 32px 5% 32px 5%;
        }
    }
}

@media screen and (min-width:1024px) {
    .encabezado {
        margin-top: 100px;
        h1 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 48px;
            margin-left: 5%;
            color: $color-primary;
        }
    
        h1::after {
            content: ".";
            color: blue;
        }
    
        p {
           margin-top: 0;
            margin-left: 5%;
            width: 45%;
            &::before {
                content: "El portal de podcasts que explora el mundo de la programación y la tecnología.";
            }
        }
    
        .boton {
            width: 226px;
            margin-left: 5%;
        }
    }
    .contenido {
        h2 {
           margin-left: 9%;
        }
    }
    .primer_articulo{
        h2{
            margin-top: 70px;
        }
        p{
            width: 464px;
            height: 204px;
        }
    }
    .galeria {
        .imagenes {
            width: 33%;
        }
    }
    .tercer_articulo {
        h2{
            margin-bottom: 0;
        }
        .contenedor-temas {
            display: flex;
            width: 80%;
            margin: auto;
            flex-flow: row nowrap;
        }
    }
    footer {
        width: 90%;
        justify-content: space-between;
        flex-flow: row nowrap;
        margin: auto;
        h5 {
            text-align: left;
            width: 25%;
            margin-left: 0;
        }
        .contactos {
            display: flex;
            margin-bottom: 0vh;
            width: 20%;
            align-items: center;
            justify-content: space-between
        }
    }
}